* {
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* Font Style */
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Button Style */
.btn-style {
    color: #FFFFFF;
    border-radius: 6px;
    font-weight: 500;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
    border: none;
    width: 170px;
    height: 50px;
    padding: 16px 62px 16px 28px;
    position: relative;
}

/* Share Style */
.container {
    max-width: 1280px;
    margin: auto;
}

.section-title {
    font-size: 36px;
    font-weight: 600;
    margin: 64px 0 24px 0;
}

/* Nav Style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.product-li {
    position: relative;
}

.dropdown-nav-items {
    position: absolute;
    top: 30%;
    left: 30px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    width: 130px;
    padding: 10px 0px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.65);
-webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.65);
    visibility: hidden;
}

.dropdown-nav-items {
    margin: 5px 0;
}
.product-li:hover .dropdown-nav-items{
    visibility: visible;
    transition: 0.5s;
    top: 70%;
}
.scarch-items input {
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    background-color: #F1F1F1;
    border: none;
}

.scarch-items i {
    position: relative;
    right: 40px;
    color: #BABABA;
}

.nav-items {
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: #707070;
    font-weight: 500;
}

/* Banner Section */

.banner {
    background-color: #FEEAE9;
    display: flex;
    width: 1280px;
    height: 455px;
    align-items: center;
    gap: 140px;
    border-radius: 15px;
}

.banner-container {
    padding: 68px 0px 68px 46px;
}

.banner-container h2 {
    color: rgb(31, 31, 31);
    font-size: 56px;
    font-weight: 700;
    margin: 8px;
}

.banner-container p {
    color: #4E4E4E;
    margin-bottom: 8px;
    max-width: 456px;
}

.banner-price {
    color: #FF136F;
    font-size: 40px;
    font-weight: bold;
    display: block;
}

.btn-style i {
    position: absolute;
    right: 45px;
}

.tv-images {
    width: 402px;
    height: 378px;
}

/* Categories */
.categories {
    margin: 52px auto;
}

.categories-card-container {
    display: flex;
    gap: 26px;
}

.categories-card {
    display: flex;
    gap: 26px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

.categories-card h3 {
    color: white;
    font-size: 36px;
    font-weight: 500;
}

.categories-card:nth-child(1) {
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,
            rgb(255, 208, 25) 84.486%);
}

.categories-card:nth-child(2) {
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
}

.categories-card:nth-child(3) {
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%, rgb(63, 7, 248) 74.29%);
}

/* Shoes & Bag Section */

.shoes-backpack {
    background-color: #F4F4F4;
}

.shoes-backpack-title {
    display: flex;
    justify-content: space-between;
    gap: 960px;
}

.shoes-backpack-title h2 {
    color: #1F1F1F;
    font-size: 36px;
    font-weight: 600;
}

.shoes-backpack-title p {
    color: #FF9D00;
    font-size: 20px;
    font-weight: 500;
}

/* shoes */
.shoes {
    padding: 50px 0;
}

.shoes-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.shoes-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 26px;
}

.shoes-card img {
    width: 336px;
    height: 202px;
}

.card-price {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 12px;
}

.shoes-card .btn-style {
    background: black;
}

/* Footer Section */

.contact-us {
    text-align: center;
}

.contact-us-praent {
    background-color: #FFF2F1;
    margin: 71px auto;
    padding: 145px 0;
    border-radius: 15px;
}

.contact-us-praent h2 {
    color: #1F1F1F;
    font-size: 30px;
    font-weight: 600;
}

.contact-us-praent p {
    color: #707070;
    font-size: 16px;
    font-weight: 500;
}

.input-btn-section input {
    border: none;
    padding: 15px 235px 15px 22px;
    margin-top: 16px;
    height: 20px;
}

.input-btn-sectio {
    display: flex;
    justify-content: center;
}

.input-btn-section .btn-style {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
    height: 50px;
}